@font-face {
  font-family: libertinage;
  src: url("../fonts/Libertinage-c.ttf");
}
/* line 8, ../scss/_base.scss */
html, body {
  font-family: libertinage;
}

/* line 1, ../scss/_layout.scss */
.container {
  width: 960px;
  margin: 0 auto;
}
/* line 5, ../scss/_layout.scss */
.container .main-header {
  margin-top: 2em;
}
/* line 9, ../scss/_layout.scss */
.container .header-divider {
  margin-bottom: 2em;
}
/* line 16, ../scss/_layout.scss */
.container .content .left-side, .container .content .right-side {
  display: inline-block;
  vertical-align: top;
}
/* line 21, ../scss/_layout.scss */
.container .content .left-side {
  width: 60%;
  margin-right: 3%;
}
/* line 26, ../scss/_layout.scss */
.container .content .right-side {
  width: 33%;
}

/* line 5, ../scss/_module.scss */
.container .main-header .site-title {
  margin: 0;
  padding: 0;
  font-size: 6em;
}
/* line 11, ../scss/_module.scss */
.container .main-header .site-title a {
  text-decoration: none;
}
/* line 17, ../scss/_module.scss */
.container .main-header nav ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
/* line 25, ../scss/_module.scss */
.container .main-header nav ul li {
  display: inline-block;
  margin-right: 5%;
}
/* line 29, ../scss/_module.scss */
.container .main-header nav ul li a {
  text-decoration: none;
  font-size: 1.3em;
}
/* line 38, ../scss/_module.scss */
.container .main-header nav ul li:last-child {
  margin-right: 0;
}
/* line 48, ../scss/_module.scss */
.container .content .left-side, .container .content .right-side {
  text-align: left;
}
/* line 54, ../scss/_module.scss */
.container .content .left-side .article .article__title {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
  font-size: 2.5em;
}
/* line 61, ../scss/_module.scss */
.container .content .left-side .article .article__text {
  font-size: 1.3em;
}
/* line 68, ../scss/_module.scss */
.container .content .right-side .article-list-item {
  margin-bottom: 2em;
}
/* line 71, ../scss/_module.scss */
.container .content .right-side .article-list-item:last-child {
  margin-bottom: 0;
}
/* line 75, ../scss/_module.scss */
.container .content .right-side .article-list-item .article-list-item__title {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
/* line 80, ../scss/_module.scss */
.container .content .right-side .article-list-item .article-list-item__title a {
  text-decoration: none;
}
/* line 85, ../scss/_module.scss */
.container .content .right-side .article-list-item .article-list-item__excerpt {
  font-size: 1em;
}
/* line 93, ../scss/_module.scss */
.container .main-footer .footer-links {
  list-style-type: none;
  text-align: center;
}
/* line 97, ../scss/_module.scss */
.container .main-footer .footer-links .footer-links__link {
  display: inline-block;
  margin-right: 1%;
}
/* line 101, ../scss/_module.scss */
.container .main-footer .footer-links .footer-links__link:last-child {
  margin-right: 0;
}
/* line 105, ../scss/_module.scss */
.container .main-footer .footer-links .footer-links__link a {
  text-decoration: none;
}
/* line 111, ../scss/_module.scss */
.container .main-footer .footer-text {
  text-align: right;
}
