{% extends "blog/base.html" %}

{% block content %}

<div class="article">
	<h2 class="article__title">{{ article.title }}</h2>
	<div class="article__content">{{ article.contents|safe }}</div>
</div>

{% endblock %}