<!Doctype xhtml>
<html>
	<head>
		<title>Умный Блог</title>
		<meta charset="UTF8" />

		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
	</head>
	<body>
		<div class="container">
			<header class="main-header">
				<h1 class="site-title"><a href="http://{{ request.get_host }}">Умный блог</a></h1>
				<nav>
					<ul>
						<li><a href="">Lorem ipsum.</a></li>
						<li><a href="">Dolore, itaque.</a></li>
						<li><a href="">Autem, ipsum.</a></li>
						<li><a href="">Quod, velit!</a></li>
						<li><a href="">Est, tenetur!</a></li>
					</ul>
				</nav>
			</header>

			<hr class="header-divider" />
			

			{% block content %}
			
			<h3>There is nothing here</h3>

			{% endblock %}

			<footer class="main-footer">
				<ul class="footer-links">
					<li class="footer-links__link"><a href="">Lorem ipsum dolor.</a></li>
					<li class="footer-links__link"><a href="">Fugiat, ducimus, earum!</a></li>
					<li class="footer-links__link"><a href="">Assumenda quo, magni!</a></li>
					<li class="footer-links__link"><a href="">Similique, aliquid doloribus.</a></li>
					<li class="footer-links__link"><a href="">Reiciendis doloribus, aspernatur.</a></li>
				</ul>

				<div class="footer-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</div>
			</footer>
		</div>
	</body>
</html>