{% extends "blog/base.html" %}

{% block content %}

<div class="content">
	<section class="left-side">

		<article class="article">
			<h2 class="article__title">{{ main_article.title }}</h2>
			<div class="article__text">
				{{ main_article.contents|safe }}
			</div>
		</article>
	</section>

	<section class="right-side">					
		{% for article in latest_articles %}
		<div class="article-list-item">
			<h3 class="article-list-item__title"><a href="{% url 'blog:article' article.id %}">{{ article.title }}</a></h3>
			<div class="article-list-item__excerpt">{{ article.excerpt }}</div>
		</div>
		{% endfor %}
	</section>				
</div>

{% endblock %}