<!Doctype xhtml>
<html>
	<head>
		<title>Умный Блог</title>
		<meta charset="UTF8" />

		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
	</head>
	<body>
		<div class="container">
			<header class="main-header">
				<h1 class="site-title">Умный блог</h1>
				<nav>
					<ul>
						<li><a href="">Lorem ipsum.</a></li>
						<li><a href="">Dolore, itaque.</a></li>
						<li><a href="">Autem, ipsum.</a></li>
						<li><a href="">Quod, velit!</a></li>
						<li><a href="">Est, tenetur!</a></li>
					</ul>
				</nav>
			</header>

			<hr class="header-divider" />

			<div class="content">
				<section class="left-side">
					<article class="article">
						<h2 class="article__title">Lorem ipsum dolor sit amet.</h2>
						<div class="article__text">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A exercitationem deleniti eaque optio aut vel quasi asperiores error sapiente placeat, consequatur culpa accusamus beatae modi delectus voluptates officiis soluta assumenda dicta maxime temporibus explicabo at itaque tempore? Totam molestiae numquam amet qui, deserunt, ullam, voluptatum perspiciatis blanditiis inventore iure illum beatae, perferendis aliquid quia nemo omnis ab natus ex at nam id corporis eligendi. Harum, atque dolore nesciunt sapiente exercitationem fuga assumenda. Laborum, ipsam hic. Magnam ducimus, ea eaque totam! Officia molestiae alias laboriosam, laudantium eaque sint quaerat deserunt ab natus consectetur non veniam illo explicabo culpa atque quo velit?</p>
							<p>Tempora voluptatem sequi debitis aspernatur! Tenetur officia architecto dolorem quod. Recusandae atque vero id laboriosam similique, fugit blanditiis possimus dolorem consequatur laborum inventore reprehenderit cumque voluptate, velit dicta quasi libero sapiente ad quaerat officia. Ea, blanditiis! Consectetur assumenda dolorem nihil perferendis adipisci asperiores nostrum qui, dolor, dolores doloremque eligendi. Tempore laudantium, voluptatibus atque dolorum possimus omnis, reprehenderit dicta rerum aut, cumque consequuntur aliquam. Labore saepe culpa, fugiat perspiciatis tenetur at aliquam. Cum ratione at non quisquam aperiam aliquam quos ex! Odio eius ex ipsa corporis. Nihil ducimus fugiat distinctio a, nostrum, non molestias eveniet. Ratione, mollitia inventore sit perferendis culpa.</p>
							<p>Quia cumque illo, id illum quaerat sapiente consequuntur magnam neque? Obcaecati officia consequatur culpa optio, nobis delectus labore quas hic nemo esse eius dolore praesentium harum, accusantium nulla ipsa architecto quod odit sapiente ab provident, ea dolorum quidem. Obcaecati reiciendis suscipit est eveniet sint odit quasi nostrum saepe dignissimos blanditiis ab unde, magnam rerum ipsam fuga dolore nam. Magni nam aliquam ducimus atque culpa sit maiores, nemo libero nisi porro tenetur beatae sapiente esse cum quidem vitae quasi optio quibusdam! Delectus necessitatibus maiores, explicabo nostrum, aliquam ducimus a cum adipisci libero ea facilis. Pariatur, nemo aliquid autem, saepe voluptates quae?</p>
							<p>Suscipit ipsa rerum, odio, veniam fuga consequatur mollitia quis non quidem similique! Asperiores enim quo, provident rem quasi totam perspiciatis illo, tempora aut eos magnam impedit, deleniti dolorem quibusdam excepturi saepe, soluta necessitatibus? Placeat corporis accusantium autem natus ullam ea necessitatibus quis quos fuga, obcaecati possimus, aut nulla porro hic, recusandae deleniti earum numquam deserunt. Quis ab consequuntur vitae eius aspernatur at voluptates. Dignissimos facere magnam distinctio dolorum, quas ad amet accusantium id nisi maiores? Maxime velit nam quis inventore corporis similique nostrum recusandae, praesentium blanditiis, pariatur, temporibus perferendis aliquid deserunt eligendi. Natus saepe neque quaerat rerum praesentium obcaecati aliquid.</p>
							<p>Quam, dignissimos dolorem enim ab neque qui, quidem, facilis consequatur debitis sit dolores adipisci pariatur! Reprehenderit enim aliquam itaque architecto laborum ipsam minima. Totam veritatis ratione laboriosam labore hic, voluptatem mollitia exercitationem distinctio natus, rerum doloribus quaerat, provident molestiae aspernatur delectus iusto! Molestiae veritatis iste, quod aperiam illum deserunt? Enim maiores sint culpa debitis voluptas earum quam minima, doloremque accusantium labore eaque! Sunt nam reprehenderit officia quam vero, debitis iste vel ea, eum possimus magnam. Commodi corporis rem, atque vitae nihil harum iure ab, adipisci libero eos quia sunt. Porro assumenda quasi unde deleniti, sint consectetur repellendus non dolor magnam.</p>
						</div>
					</article>
				</section>

				<section class="right-side">
					<div class="article-list-item">
						<h3 class="article-list-item__title">Lorem ipsum dolor.</h3>
						<div class="article-list-item__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quidem rerum explicabo eum qui quae.</div>
					</div>
					<div class="article-list-item">
						<h3 class="article-list-item__title">Amet, repudiandae, repellat.</h3>
						<div class="article-list-item__excerpt">Aliquid fugiat doloremque cumque, suscipit quia quaerat incidunt, pariatur dolor ratione fuga sint veniam ad.</div>
					</div>
					<div class="article-list-item">
						<h3 class="article-list-item__title">Aut dicta, praesentium.</h3>
						<div class="article-list-item__excerpt">Rerum cum delectus totam est? Facere similique fuga explicabo minus voluptates, ipsam nisi libero doloribus?</div>
					</div>
					<div class="article-list-item">
						<h3 class="article-list-item__title">Blanditiis, cumque, voluptatibus.</h3>
						<div class="article-list-item__excerpt">Quibusdam incidunt vitae culpa, pariatur veniam necessitatibus, eius, perspiciatis dolores voluptatem deserunt unde ut aperiam.</div>
					</div>
					<div class="article-list-item">
						<h3 class="article-list-item__title">Alias, vitae, voluptate.</h3>
						<div class="article-list-item__excerpt">Error ipsa, quis animi autem et similique, eum distinctio dolor ab ratione, eius quod! Maxime.</div>
					</div>
					<div class="article-list-item">
						<h3 class="article-list-item__title">Impedit optio, reiciendis.</h3>
						<div class="article-list-item__excerpt">Perferendis illo cumque inventore odio, quidem nisi error nobis dicta eligendi architecto ut, eum enim.</div>
					</div>

				</section>

				
			</div>

			<footer class="main-footer">
				<ul class="footer-links">
					<li class="footer-links__link"><a href="">Lorem ipsum dolor.</a></li>
					<li class="footer-links__link"><a href="">Fugiat, ducimus, earum!</a></li>
					<li class="footer-links__link"><a href="">Assumenda quo, magni!</a></li>
					<li class="footer-links__link"><a href="">Similique, aliquid doloribus.</a></li>
					<li class="footer-links__link"><a href="">Reiciendis doloribus, aspernatur.</a></li>
				</ul>

				<div class="footer-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</div>
			</footer>
		</div>
	</body>
</html>