.container {
	width: 960px;
	margin: 0 auto;

	.main-header {
		margin-top: 2em;
	}

	.header-divider {
		margin-bottom: 2em;
	}

	.content {
		// text-align: center;

		.left-side, .right-side {
			display: inline-block;
			vertical-align: top;
		}

		.left-side {
			width: 60%;
			margin-right: 3%;
		}

		.right-side {
			width: 33%;
		}
	}
}