.container {

	.main-header {

		.site-title {
			margin: 0;
			padding: 0;

			font-size: 6em;

			a {
				text-decoration: none;
			}
		}

		nav {
			ul {
				display: block;
				margin: 0;
				padding: 0;

				list-style-type: none;
				text-align: left;

				li {
					display: inline-block;
					margin-right: 5%;

					a {
						text-decoration: none;
						font-size: 1.3em;

						&:visited {
							// color: black;
						}
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}

	.content {

		.left-side, .right-side {
			text-align: left;
		}

		.left-side {
			.article {
				.article__title {
					margin: 0;
					padding: 0;
					margin-bottom: 0.5em;
					font-size: 2.5em;
				}

				.article__text {
					font-size: 1.3em;
				}
			}
		}

		.right-side {
			.article-list-item {
				margin-bottom: 2em;

				&:last-child {
					margin-bottom: 0;
				}

				.article-list-item__title {
					margin: 0;
					padding: 0;
					font-size: 1.5em;

					a {
						text-decoration: none;
					}
				}

				.article-list-item__excerpt {
					font-size: 1em;
				}
			}
		}
	}

	.main-footer {
		.footer-links {
			list-style-type: none;
			text-align: center;

			.footer-links__link {
				display: inline-block;
				margin-right: 1%;

				&:last-child {
					margin-right: 0;					
				}

				a {
					text-decoration: none;
				}
			}
		}

		.footer-text {
			text-align: right;
		}
	}
}